.menu{
    background-color:#000000;
    display: flex;
    justify-content: space-between;
    color:#ffffff;
 }
 body{
     margin: 0px;
     background-color: #0af8ec;
 }
 .grid{
    display: flex;
    flex-wrap: wrap;
 }
 .gridimg{
     border-color: crimson
     
 }
 .origami{
    
     background-color: blueviolet;
     font-family: fantasy;
 }

 .matter{
    border: 2px solid black;
    border-radius: 50px;
    background-color:purple;
    justify-content: space-between;
}

.matter{
    position:relative;
}

.matter h3{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-20%,-30%);
    opacity: 0;
}

.matter:hover h3{
    opacity: 1;
}

.matter:hover img{
    opacity:0.9;
}

.body{
    margin-left: 500px;
    border-radius: 20px;
    background-color:yellow;
    
    width: 310px;
    font-family: fantasy;
}

a:link{
    color:black;
}

a:visited{
    color:green;
}


